* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

ul, ol, li {
	list-style: none;
}

img {
	width: 100%;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none;
	color: auto;
}

a:active,
a:hover {
	outline-width: 0;
}

/*==================

	 Site Pre-sets

==================*/
body {
	background-color: #fcfcf7;
	box-shadow: inset 0 60px 250px rgba(31, 31, 31, 0.15);
	position: relative;
}

header, section, footer, #logoContainer {
	width: 100%;
}

.specChar {
	font: 400 0.75em Webdings;
}

#navWrap, #contentContainer, #footMenu, #contactBar {
	min-width: 830px;
	max-width: 960px;
	margin: 0 auto;
}

p {
	font: 0.8em 'Arial', sans-serif;
}

/*===========================

					HEADER

============================*/
header {
	background: #fff;
	box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.14);
	text-transform: uppercase;
	font: 800 0.65em "open-sans", sans-serif;
	letter-spacing: 0.3px;
	height: 40px;
}
header #navWrap {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
header #navLogo {
	margin-left: 6%;
	max-width: 151px;
	position: absolute;
}
header #nav {
	margin: 12px 9px 20px 9px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	right: 0px;
}
header #nav #dropdown {
	padding: 0 15px;
}
header #nav #dropdown .specChar {
	font-size: 1.1em;
	margin-left: 6px;
}
header #nav #dropdown a {
	color: #5eb8da;
}
header #nav .nav-item {
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	padding: 0 12px 0 13px;
}
header #nav .nav-item a {
	color: #d91643;
}
header #nav .extraPadLeft {
	padding-left: 17px;
}

@media (min-width: 860px) {
	header #navLogo {
		margin-left: 16.3%;
	}
}

/*==================

		 Main Logo

==================*/
#logoContainer {
	background-image: url("../images/shadded-line.png");
	background-position: center 250%;
	background-repeat: no-repeat;
	width: 100%;
	min-width: 600px;
	padding-left: 10px;
}
	#logoContainer #logo {
		margin: 19px auto -1px;
		width: 300px;
}

/*===========================

				MAIN CONTENT
					SECTION

============================*/
#contentContainer {
	padding: 0 0 21px;
}

#banner {
	border-radius: 8px;
	margin-bottom: -2px;
}

.highlights {
	margin-top: 10px;
	margin-bottom: 9pxpx;
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 32%;
	min-height: 241px;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
}
	.highlights .text {
		padding: 10px 19px 0;
}
		.highlights .text p {
			line-height: 19px;
}
	.highlights .redHigh {
		padding: 3px 0 0 0;
		color: #e92c4d;
}
		.highlights .redHigh .specChar {
			margin: -9px 0 0 4px;
			font-size: 1em;
}

.highlights.left {
	margin-right: 1%;
}

.highlights.middle {
	margin: 10px 1% 9px;
}

.highlights.right {
	margin-left: 0.9%;
}

.highlightTitle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
	padding: 10px 0 0 6%;
	white-space: nowrap;
	height: 36px; }
	.highlightTitle h3 {
		font: 800 1em "open-sans";
		margin: -3px 0 0 -1px;
}

.rssFeed {
	width: 14px;
	height: 15px;
	margin-right: 3%;
}

#karppa, .highlightTitle, #kaleva {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}

#karppa {
	background: -webkit-linear-gradient(bottom, #242424, #3f3f3f);
	background: linear-gradient(to top, #242424, #3f3f3f);
	color: #fff;
}
	#karppa .highlightTitle {
		background-image: url("../images/karppa-title-background.png");
}

#karppaLogo {
	width: 70px;
	height: 44px;
	margin-right: 13px;
	margin-top: -14px;
}

#kalevafiLogo {
	margin-left: -1px;
	width: 95px;
	height: 15px;
}

#kaleva {
	background-image: url("../images/kaleva-background.png");
	color: #000;
}
	#kaleva .highlightTitle {
		background-image: url("../images/kaleva-title-background.png");
}

#karppa .text, #kaleva .text {
	padding: 11px 18px 0;
}
	#karppa .text span, #kaleva .text span {
		font-weight: 700;
		margin-right: 2px;
}
	#karppa .text .yellow, #kaleva .text .yellow {
		color: #fec938;
}
	#karppa .text .orange, #kaleva .text .orange {
		color: #ea8c1c;
}
	#karppa .text p, #kaleva .text p {
		margin-right: 14px;
		padding: 14px 0 7px;
		font-size: 0.74em;
		line-height: 20px;
}
	#karppa .text p:nth-child(2), #kaleva .text p:nth-child(2) {
		padding: 10px 0 9px;
}
	#karppa .text p:nth-child(3), #kaleva .text p:nth-child(3) {
		padding: 12px 0 0;
}
	#karppa .text .light-border, #kaleva .text .light-border {
		border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
	#karppa .text .dark-border, #kaleva .text .dark-border {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#weather .firstRow {
	margin-top: 12px;
}

#weather .row .column {
	display: inline-block;
	width: 86px;
}
	#weather .row .column div {
		display: inline-block;
}

#weather .row .stats {
	padding: 8px 9px 10px;
	font: 400 14px Arial;
	background-color: rgba(0, 0, 0, 0.03);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#weather .row .stats:nth-child(3) {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#weather .row img {
	width: 24px;
}

#weather .row a {
	color: #51adcf;
	text-align: center;
	font-size: 15px;
	letter-spacing: -0.12px;
}
	#weather .row a p {
		padding-left: 3px;
}
	#weather .row a .specChar {
		margin-left: 3px;
		font-size: 13px;
}

#weather .forcast {
	margin-bottom: 10px;
}
	#weather .forcast .column {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-left: 1px solid rgba(0, 0, 0, 0.1);
}
		#weather .forcast .column .forTemp {
			margin-top: 14px;
			vertical-align: top;
}
		#weather .forcast .column #temp1 {
			margin-left: 12px;
}
		#weather .forcast .column #temp2 {
			margin-left: 5px;
}
		#weather .forcast .column #temp3 {
			margin-left: 2px;
}
		#weather .forcast .column h5 {
			font: 800 17px 'open-sans';
}
	#weather .forcast .column:nth-child(3) {
		border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#weather .forcastLink {
	margin: 10px auto 0 !important;
}

#weatherImg1, #weatherImg2, #weatherImg3 {
	margin: 18px 5px 8px 9px;
}

#weather .row, #curWeather {
	max-width: 260px;
	margin: 0 auto;
	padding-left: 2px;
}

#curWeather {
	margin: 14px auto 13px;
	padding: 0 0 0 49px;
}
	#curWeather div {
		display: inline-block;
}
	#curWeather .stats {
		padding-left: 22px;
}
	#curWeather p {
		font: 400 12px 'open-sans';
}
	#curWeather h4 {
		font: 800 37px 'open-sans';
		line-height: 33px;
		padding-left: 1px;
		-webkit-transform: translatey(-4px);
						transform: translatey(-4px);
}

#weatherTitle {
	background-image: url("../images/oulun-title-background.png");
	padding-left: 5.4%;
}
	#weatherTitle h4 {
		margin-left: -6px;
}

#curWeatherPic {
	max-width: 66px;
	margin-top: 2px;
	margin-left: 2px;
}

/*==================

			Footer

==================*/
footer {
	height: 190px;
	background-image: url("../images/footer-background.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 27px;
	text-transform: uppercase;
}
	footer ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}

#footMenu {
	position: relative;
	padding: 1px 0 24px 15px;
	box-shadow: 0px 1px 0 0 #f6f6f2;
	border-bottom: 1px solid #d4d4d4;
}

.footListItem {
	padding: 7px 21px 7px 4px;
	font: 700 0.9em 'open-sans';
}
	.footListItem a {
		color: #e92c4d;
}

#footSocial {
	position: absolute;
	top: 0;
	right: 1.6%;
}
	#footSocial img {
		max-width: 36px;
		margin: 0 3px;
}

#contactInfo {
	margin: 33px auto;
	max-width: 400px;
	font: 400 0.75em 'open-sans';
	letter-spacing: 1px;
	padding: 0 0 0 25px; }
	#contactInfo li {
		-webkit-box-pack: center;
				-ms-flex-pack: center;
						justify-content: center;
}
	#contactInfo .compInfo {
		margin-right: 15px;
}
	#contactInfo .contactList {
		padding: 0 14px;
		color: #808080;
		border-left: 1px solid rgba(0, 0, 0, 0.15);
}
